.gohome > svg{
  position: absolute;
  left: 2%;
  top: 3%;
  scale: 3;
  fill: rgba(50, 100, 255, 0.9);
}
form{
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 10px;
}
form input{
  width: 80%;
}
form .title{
  font-size: 20px;
}
form .contents{
  width: 80%;
  display: flex;
  font-size: 18px;
  height: 50vh;
  resize: none;
}
button{
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgba(50, 100, 255, 0.9);
  border: none;
  color: white;
}