.gohome{
    position: absolute;
    left: 2%;
    top: 3%;
    scale: 3;
    fill: white;
}
.con{
    display: grid;
    grid-template-columns: 1fr 500px;
    height: 100vh;
    background-color: rgba(50, 100, 255, 0.9);
    padding-right: 17%;
}
.con .back{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con .back .text-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.con .back .text-box .logo{
    font-size: 100px;
    font-weight: 600;
    color: white;
}
.con .back .text-box .description{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.con .content{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: white;
    gap: 50px;
}
.con .content .signup{
    font-size: 35px;
    font-weight: 500;
}
.con .content .utill{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.con .content .utill .help{
    font-size: 14px;
    font-weight: 600;
    color: rgba(50, 100, 255, 0.7);
}
.con .content .utill .help:hover{
    text-decoration: underline;
}
.con .content .utill .input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con .content .utill .input-box *{
    width: 300px;
    height: 50px;
    outline-color: rgba(50, 100, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.con .content .btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con .content .btn *{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 300px;
    height: 45px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.con .content .btn *:nth-child(1){
    background-color: rgba(50, 100, 255, 0.9);
    color: white;
}
.con .content .btn *:nth-child(2){
    background-color: white;
    border: 1px solid rgba(50, 100, 255, 0.9);
    color: rgba(50, 100, 255, 0.9);
}
.error-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    font-weight: 600;
    font-size: 14px;
    bottom: -10%;
    color: rgba(255, 50, 50, 0.9);
}
.name.error{
    order: 1;
}
.id.error{
    order: 2;
}
.password.error{
    order: 3;
}
.is-password.error{
    order: 4;
}